@import url("../../Lib/bootstrap.css");
@import url("../../Components/MainNav.css");

nav#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav#main-nav>.button {
    color: white;
    font-weight: 600;
    transition: background-color 500ms linear , transform 250ms linear;
}
nav#main-nav>.button:active {
    transform: translateY(1px);
}
nav#main-nav>.button .icon {
    font-size: 20px ;
    margin-right: 10px;
}
nav#main-nav>.button:first-child {
    margin-right: 5%;
    background-color:#8699f5;
}
nav#main-nav>.button:first-child:hover {
    background-color: #5d75ea;
}
nav#main-nav>.button:nth-child(2) { 
    background-color: #3acaf7  ;
    
}
nav#main-nav>.button:nth-child(2):hover {
    background-color:#00bbf5;
}
body>main{
    padding-top: 82px;
}
